@font-face {
  font-family: 'Gmarket Sans';
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/GmarketSansMedium.otf'),
    url('/fonts/GmarketSansMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gmarket Sans';
  font-weight: bold;
  font-display: swap;
  src: url('/fonts/GmarketSansBold.otf'),
    url('/fonts/GmarketSansBold.ttf') format('truetype');
}
