<html>

  <head>
    <meta charset='UTF-8' />
    <title>Socket.IO Chat Example</title>
  </head>

  <body>
    <div id='messages'></div>

    {{message}}

    <ul class='pages'>
      <input id='message' type='text' />
      <button type='button' onclick='handleSubmit()'>Submit</button>
    </ul>
    <script
      src='https://cdn.socket.io/3.1.3/socket.io.min.js'
      integrity='sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh'
      crossorigin='anonymous'
    ></script>
    <script>
      const socket = io('http://localhost:3002'); const message =
      document.getElementById('message'); const messages =
      document.getElementById('messages'); const handleSubmit = () => {
      socket.emit('events', { data: message.value }); message.value = ''; }
      socket.on('events', ({ data }) => { handleNewEvent(data); }); const handleNewEvent =
      (message) => { messages.appendChild(buildNewMessage(message)); } const
      buildNewMessage = (message) => { const li = document.createElement('li');
      li.appendChild(document.createTextNode(message)); return li; }
    </script>
  </body>

</html>