<html>
  <head>
    <script src='/socket.io/socket.io.js'></script>
    <script src='https://code.jquery.com/jquery-3.4.0.min.js'></script>
    <link href='/layout.css' rel='stylesheet' />
    <script type='module' src='/nslOverlayClient.js'></script>
    <script>
      const exports = {};
    </script>
    <script
      id='primary-info'
      data-email={{email}}
      data-number={{verticalImagesLength}}
      data-liveshopping-id={{liveShoppingId.id}}
    >
    </script>
    <title>
      네쇼라-오버레이
    </title>
  </head>
  <body>
    <div class="container">
    <div class='horizontal-banner-box'>
      <img class='horizontal-banner' alt='horizontal-banner' />
    </div>
    <div class='nsl-ranking'>
      <p class='ranking-text-area' id='title' style='width:auto;height:auto'>
        TOP 구매자
      </p>
      <p class="ranking-text-area" id="rank-0" style='width:auto;height:auto'>
        <span class="ranking-id-wrapper">
          <img src="/images/crown.png" id="ranking-icon" />
          <span class="ranking-text-area-id" id="rank-0">
          </span>
        </span>
        <span class="quantity" id="rank-0">
        </span>
      </p>
      <p class="ranking-text-area" id="rank-1" style='width:auto;height:auto'>
        <span class="ranking-id-wrapper">
          <img src="/images/first.png" id="ranking-icon" />
          <span class="ranking-text-area-id" id="rank-1">
          </span>
        </span>
        <span class="quantity" id="rank-1">
        </span>
      </p>
      <p class="ranking-text-area" id="rank-2" style='width:auto;height:auto'>
        <span class="ranking-id-wrapper">
          <img src="/images/second.png" id="ranking-icon" />
          <span class="ranking-text-area-id" id="rank-2">
          </span>
        </span>
        <span class="quantity" id="rank-2">
        </span>
        <p class="ranking-text-area" id="rank-3" style='width:auto;height:auto'>
        <span class="ranking-id-wrapper">
          <img src="/images/third.png" id="ranking-icon" />
          <span class="ranking-text-area-id" id="rank-3">
          </span>
        </span>
        <span class="quantity" id="rank-3">
        </span>
      </p>
    </div>
    <div class="nsl-donation-message">
    </div>
    </div>
  </body>
</html>