<html>
  <head>
    <script>
      var global = global || window; var Buffer = Buffer || []; var process = process || {
      env: { DEBUG: undefined, OVERLAY_CONTROLLER_HOST:"{{OVERLAY_CONTROLLER_HOST}}" },
      version: [] };
    </script>
    <script src='https://code.jquery.com/jquery-3.4.0.min.js'></script>
    <script type='module' src='/login.js'></script>
    <link href='/login-layout.css' rel='stylesheet' />

    <script>
      const exports = {};
    </script>
  </head>
  <body>
    <div class='login-box'>
      <h1>
        관리자 로그인
      </h1>
      <form>
        <div>
          <label>EMAIL</label>
          <input class='email' type='email' />
        </div>
        <div>
          <label>비밀번호</label>
          <input class='password' type='password' />
        </div>
        <button class='login-button' type='submit'>로그인</button>
      </form>
    </div>
    <dialog id='login-fail-dialog' title='로그인 실패'>
      로그인 실패: 이메일과 비밀번호를 다시 확인해주세요.
    </dialog>
  </body>
</html>