
.chicken-move {
  display:none;
  align-items: flex-end;
  position:absolute;
  bottom:15px;
  right:15px;
  z-index:99
}

.chic {
  margin-right: 10px;
}

.chicken-move-text {
  font-family: 'BLACK-GOTHIC';
  font-size: 25px;
  position: absolute;
  z-index: 99;
  top:56px;
  left:45px;
  transform: rotate(43deg);
}