@font-face {
  font-family: 'KOTRA';
  src: url('/fonts/KOTRA_BOLD.ttf');
}

@font-face {
  font-family: 'DIGITAL';
  src: url('/fonts/LAB디지털.ttf');
}

@font-face {
  font-family: 'JALNAN';
  src: url('/fonts/JalnanOTF.otf');
}

@font-face {
  font-family: 'BLACK-GOTHIC';
  src: url('/fonts/BlackHanSans-Regular.ttf');
}

@font-face {
  font-family: 'NotoSansBold';
  src: url('/fonts/NotoSansKR-Bold.otf');
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('/fonts/GmarketSansTTFMedium.ttf');
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('/fonts/GmarketSansTTFBold.ttf');
}

@font-face {
  font-family: 'Nyuseusokbo';
  src: url('/fonts/THE_Nyuseusokbo.ttf');
}

@font-face {
  font-family: 'Game';
  src: url('/fonts/Game.ttf');
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: auto;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

.alive-check {
  background-color: green;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  position: fixed;
}

.live-commerce {
  display: none;
  left: 0px;
  bottom: 0px;
  width: 1920px;
  height: 1080px;
  position: absolute;
}

/* 상단 비회원 메세지 */
.top-wrapper {
  top: 0px;
  width: 1920px;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000;
  font-family: 'KOTRA';
}

/* 하단영역 */
.bottom-area-wrapper {
  width: 100%;
  height: 55px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 15px;
}

.bottom-area-left {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.bottom-area-left-icon {
  width: 18%;
  margin-left: 10%;
}

.bottom-area-left-icon#clock {
  width: 17%;
  margin-right: 8%;
}

.bottom-area-left-icon.urgent#clock {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: timer-shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes timer-shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.bottom-object {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
}

.bottom-object span {
  font-family: 'JALNAN';
  font-size: 30px;
  color: rgb(85, 83, 83);
  -webkit-text-stroke: 1px #000000;
}

.bottom-object-quantity {
  display: flex;
}

#current-quantity {
  color: white;
}

#quantity-object {
  color: yellow;
}

.bottom-timer {
  width: 50%;
  margin-right: 8%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'DIGITAL';
  font-size: 30px;
  color: #ffffff;
}

.bottom-timer.warning {
  color: yellow;
}

.bottom-timer.urgent {
  color: #ac0000;
}

.bottom-timer span {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.bottom-fever-timer {
  bottom: 55px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'JALNAN';
  font-size: 30px;
  height: 55px;
  width: 100px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px #000000;
  border-radius: 10px 10px 0px 0px;
}

.bottom-area-right {
  width: 77.5%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  border-radius: 0px 15px 15px 15px;
}

.bottom-area-right-fever-wrapper {
  display: none;
}

.bottom-area-right p:after {
  content: '';
  white-space: nowrap;
  padding-right: 100%;
}

.bottom-area-text {
  font-family: 'KOTRA';
  margin-right: 100%;
  font-size: 23px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
}

.bottom-fever-message {
  font-family: 'JALNAN';
  z-index: 3;
  -webkit-text-stroke: 1px #000000;
  font-size: 30px;
}

.bottom-area-right p {
  padding-left: 3%;
  display: inline-block;
  white-space: nowrap;
}

.bottom-admin {
  font-family: 'JALNAN';
  z-index: 3;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-size: 30px;
}

/* 좌측 영역 */
.left-section {
  top: 50px;
  left: 15px;
  width: 400px;
  height: 1080px;
  position: relative;
}

.vertical-banner {
  width: 100%;
  height: 650px;
  opacity: 1;
  border-radius: 15px;
}

.vertical-soldout-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  border-radius: 15px;
}

.virtual-background {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 1px #000;
}

.virtual-video {
  position:absolute;
  left:0;
  top:0;
  z-index: 300;
  border-radius: 15px;
}

/* 좌측 상단 랭킹 */
.ranking-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 240px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 10px;
}

.ranking-area-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ranking-text-area {
  width: 90%;
  height: 29%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1%;
  font-family: 'NotoSansBold';
  font-size: 20px;
  color: #ffffff;
  text-shadow: -2px -2px 0 rgb(85, 83, 83), 0 -2px 0 rgb(85, 83, 83),
    2px -2px 0 rgb(85, 83, 83), 2px 0 0 rgb(85, 83, 83), 2px 2px 0 rgb(85, 83, 83),
    0 2px 0 rgb(85, 83, 83), -2px 2px 0 rgb(85, 83, 83), -2px 0 0 rgb(85, 83, 83);
  z-index: 20
}

.ranking-text-area span {
  margin-right: 1%;
}

.ranking-text-area#title {
  font-family: 'BLACK-GOTHIC';
  height: 15%;
  justify-content: center;
  padding-left: 0;
  margin-top: 3%;
  margin-bottom: 0;
  font-size: 45px;
  color: #ffd200;
  text-shadow: 5px 5px 10px #000;
  -webkit-text-stroke: 1px rgb(85, 85, 83);
}

.ranking-id-wrapper {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 3%;
}

.ranking-text-area-id {
  width: 85%;
  display: block;
  margin-left: 2%;
  font-size: 25px;
  text-shadow: -2px -2px 0 rgb(85, 83, 83), 0 -2px 0 rgb(85, 83, 83),
    2px -2px 0 rgb(85, 83, 83), 2px 0 0 rgb(85, 83, 83), 2px 2px 0 rgb(85, 83, 83),
    0 2px 0 rgb(85, 83, 83), -2px 2px 0 rgb(85, 83, 83), -2px 0 0 rgb(85, 83, 83);
  overflow: hidden;
  white-space: nowrap;
}

#ranking-icon {
  width: 35px;
  margin-right: 1%;
}

/* 좌측 배너영역 */
.left-banner-area {
  width: 100%;
  height: 650px;
  top: 255px;
  position: absolute;
  background-color: white;
  background: rgba(253, 253, 253, 0.8);
  border-radius: 15px;
}
/* 우측상단 온애드 로고 */
.top-right-logo {
  top: 15px;
  right: 15px;
  position: fixed;
}

/* 우측 상단 응원메세지 영역 */
.top-right {
  display: none;
  width: 600px;
  height: 450px;
  top: 119px;
  right: 15px;
  align-items: center;
  position: fixed;
}

.donation-wrapper {
  width: 100%;
  height: 100%;
}

.centered {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  text-shadow: -2px -2px 0 rgb(85, 83, 83), 0 -2px 0 rgb(85, 83, 83),
    2px -2px 0 rgb(85, 83, 83), 2px 0 0 rgb(85, 83, 83), 2px 2px 0 rgb(85, 83, 83),
    0 2px 0 rgb(85, 83, 83), -2px 2px 0 rgb(85, 83, 83), -2px 0 0 rgb(85, 83, 83);
  font-family: 'NotoSansBold';
}

.animated.heartbeat {
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

/* .donation-header {
  text-shadow: -2px -2px 0 rgb(85, 83, 83), 0 -2px 0 rgb(85, 83, 83),
  2px -2px 0 rgb(85, 83, 83), 2px 0 0 rgb(85, 83, 83), 2px 2px 0 rgb(85, 83, 83),
  0 2px 0 rgb(85, 83, 83), -2px 2px 0 rgb(85, 83, 83), -2px 0 0 rgb(85, 83, 83);
  color: rgb(255, 255, 255);
} */

#donation-user-id {
  font-size: 35px;
  font-weight: bold;
  color: rgb(0, 252, 255);
}

#donation-num {
  font-size: 35px;
  font-weight: bold;
  color: rgb(0, 252, 255);
}

#message {
  font-size: 35px;
  color: rgb(255, 255, 255);
}

#donation-sub {
  color: rgb(255, 255, 255);
}

.donation-image {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 1px 5px #000;
}

#donation-top {
  margin: 6px;
}

.full-video {
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.notification {
  position: fixed;
  top: 119px;
  right: 15px;
  width: 400px;
  height: 400px;
}

.notification img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #000;
}

div.objective-wrapper {
  width: 1920px;
  bottom: 20px;
  text-align: center;
  display: none;
  position: absolute;
}

div.objective-wrapper#soldout {
  bottom: 60px;
  align-items: flex-end;
}

div.objective-wrapper img {
  margin-left: auto;
  margin-right: auto;
}

div.objective-message {
  font-family: 'NotoSansBold';
  font-size: 30px;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000;
}

span.objective-text {
  color: #ffffff;
}

span.objective-value {
  font-size: 40px;
  color: rgb(0, 252, 255);
}



@keyframes seesaw {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.soldout {
  animation-name: seesaw;
  animation-duration: 3s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: seesaw;
  -webkit-animation-duration: 3s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


#kks-logo {
  width: 130px;
  height: 54px;
}

.container {
  width: 720px;
  height: 280px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.nsl-ranking {
  width: 720px;
  height: 280px;
  display: none;
  background-color: rgb(255, 255, 255);
}

.nsl-ranking-text {
  width: 540px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal-banner-box {
  position: absolute;
  left: 0px;
  top: 0px;
}

.nsl-donation-message {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-left: 5px;
  margin-bottom: 3px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 35px;
  font-family: 'GmarketSansMedium';
  text-shadow: -2px -2px 0 rgb(0 0 0), 0 -2px 0 rgb(0 0 0), 2px -2px 0 rgb(0 0 0),
    2px 0 0 rgb(0 0 0), 2px 2px 0 rgb(0 0 0), 0 2px 0 rgb(0 0 0), -2px 2px 0 rgb(0 0 0),
    -2px 0 0 rgb(0 0 0);
}

#nsl-donation-user-id {
  font-size: 35px;
  font-weight: bold;
  color: rgb(0, 252, 255);
}

#nsl-donation-num {
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 252, 255);
}

#nsl-message {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

#nsl-ranking-medal {
  width: 189px;
  height: 279px;
  margin-right: 30px;
}

#nsl-ranking-title {
  width: auto;
  font-family: 'GmarketSansBold';
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 0;
}

.nsl-ranking-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  font-family: 'GmarketSansMedium';
  font-size: 28px;
  color: #2c44f4;
  padding-left: 40px;
}

.nsl-ranking p {
  margin: 0;
}

[id^='nsl-rank-'] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.nsl-ranking-id-wrapper {
  display: flex;
  align-items: center;
  width: 60%;
}

.nsl-quantity {
  color: black;
}

.news-banner {
  display: none;
  position: absolute;
  bottom: 90;
  right: 0;
  width: 1500px;
  height: 200px;
}

#new-banner-image {
  width: inherit;
  height: inherit;
}

.news-banner p {
  position: absolute;
  bottom: -40;
  left: 90;
  font-family: 'Nyuseusokbo';
  font-size: 80px;
  font-weight: 900;
  color: white;
}

.letters {
  display:none;
  font-size: xx-large;
  color: rgba(255, 255, 255, 0.8);
  font-family: NotoSansBold;
  text-shadow: -2px -2px 0 rgb(0 0 0), 0 -2px 0 rgb(0 0 0), 2px -2px 0 rgb(0 0 0),
    2px 0 0 rgb(0 0 0), 2px 2px 0 rgb(0 0 0), 0 2px 0 rgb(0 0 0), -2px 2px 0 rgb(0 0 0),
    -2px 0 0 rgb(0 0 0);
  margin: -20px 0 0 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9998;
}

.rain {
  animation: rain 5s, seesaw 2s;
  -moz-animation: rain 2s; /* Firefox */
  -webkit-animation: rain 5s, seesaw 2s; /* Safari and Chrome */
  -o-animation: rain 2s; /* Opera */
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@keyframes rain {
  from {
    opacity: 1;
  }
  to {
    top: 1400px;
    opacity: 0;
  }
}
@-moz-keyframes rain {
  /* Firefox */
  from {
    opacity: 1;
  }
  to {
    top: 1400px;
    opacity: 0;
  }
}
@-webkit-keyframes rain {
  /* Safari and Chrome */
  from {
    opacity: 1;
  }
  to {
    top: 1400px;
    opacity: 0;
  }
}
@-o-keyframes rain {
  /* Opera */
  from {
    opacity: 1;
  }
  to {
    top: 1400px;
    opacity: 0;
  }
}

.marquee {
  width: 100%;
  padding: 0.5em 0;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.marquee p:after {
  content: '';
  white-space: nowrap;
  padding-right: 50px;
}

.marquee p {
  margin-top: 2.3%;
  padding-left: 1000px;
  display: inline-block;
  white-space: nowrap;
  -webkit-animation-name: marquee;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: marquee;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: marquee;
  -ms-animation-timing-function: linear;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: marquee;
  -o-animation-timing-function: linear;
  -o-animation-duration: 10s;
  -o-animation-iteration-count: infinite;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes marquee {
  from {
    -webkit-transform: translate(0%);
  }
  99%,
  to {
    -webkit-transform: translate(-100%);
  }
}
@-moz-keyframes marquee {
  from {
    -moz-transform: translate(0%);
  }
  99%,
  to {
    -moz-transform: translate(-100%);
  }
}
@-ms-keyframes marquee {
  from {
    -ms-transform: translate(0%);
  }
  99%,
  to {
    -ms-transform: translate(-100%);
  }
}
@-o-keyframes marquee {
  from {
    -o-transform: translate(0%);
  }
  99%,
  to {
    -o-transform: translate(-100%);
  }
}
@keyframes marquee {
  from {
    transform: translate(0%);
  }
  99%,
  to {
    transform: translate(-100%);
  }
}

.combo-mode {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: -2px -2px 0 rgb(85, 83, 83), 0 -2px 0 rgb(85, 83, 83),
  2px -2px 0 rgb(85, 83, 83), 2px 0 0 rgb(85, 83, 83), 2px 2px 0 rgb(85, 83, 83),
  0 2px 0 rgb(85, 83, 83), -2px 2px 0 rgb(85, 83, 83), -2px 0 0 rgb(85, 83, 83);
  color:white;
  font-family: 'NotoSansBold';
}

.pop-out {
  display: flex;
  margin-bottom:0px;
  font-size:45px;
  font-style: italic;
  background-image: linear-gradient(
    #ff2323,
    #fcff3c 
  );
  background-size: auto auto;
  background-clip: border-box;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #000;
  animation: 2s anim-popoutin ease;
  text-shadow: none;
  font-family: 'Game';
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));

}

.ranking-pop {
  background-image: linear-gradient(
    35deg,
    #deffb0 0%,
    #fefd92 29%,
    #b5d9ff 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 5s ranking-pop ease;
  text-shadow: none;
  -webkit-text-stroke: 1px #000;
  font-family:'KOTRA'
}

@keyframes ranking-pop {
  0% {
    background-position: 0%;
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(0) translate(20px,0px);
    opacity: 1;
  }
  25% {
    transform: scale(2) translate(50px,0px);
    opacity: 1;
  }
  90% {
    transform: scale(2) translate(50px,0px);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-position: 200%;
  }
}

@keyframes anim-popoutin {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(1.5);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.wave {
  display: inline-flex;
  position: relative;
}
.wave span {
  position: relative;
  display: inline-block;
  color: rgb(0, 252, 255);
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  text-shadow: -2px -2px 0 rgb(85, 83, 83), 0 -2px 0 rgb(85, 83, 83),
  2px -2px 0 rgb(85, 83, 83), 2px 0 0 rgb(85, 83, 83), 2px 2px 0 rgb(85, 83, 83),
  0 2px 0 rgb(85, 83, 83), -2px 2px 0 rgb(85, 83, 83), -2px 0 0 rgb(85, 83, 83);
  font-family: 'NotoSansBold';
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-5px)
  }
}
